//WhiteMind Varibales

//Colors
$primary-color:			#752033;
$primary-light-color:	lighter($primary-color, 10%);
$secondary-color:		#3B5998;
$secondary-light-color:	lighter($secondary-color, 10%);

$white-color:			#ffffff;
$black-color:			#333333;
$grey-color:			#cccccc;
$grey-light-color:		#f1f1f1;

//Fonts
@import 'https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Ubuntu:300,300i,400,400i,500,500i,700,700i';

$primary-font:			'Arimo', sans-serif;
$secondary-font:		'Raleway', sans-serif;