* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -75px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 75px;
}
.site-footer {
  background: #f0f0f0;
  display: table;
  width: 100%;
  .container{
    vertical-align: middle;
    display: table-cell;
  }
}